@import '~app/styles/variables';

.question{

    border: 1px solid $primary;
    padding: $gutter;

    &__header{
        display: flex;
        justify-content: space-between;

        & span{
            cursor: pointer;
            &:hover{
                color: $third;
            }
        }
    }

    &__add-answer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: $gutter/2;

        & > *:not(:first-child){
            margin-left: 10px;
        }   
    }

    &__buttons{
        margin-top: $gutter/2;
        display: flex;
        justify-content: space-between;
    }
}

.answers{
    margin-top: $gutter/2;
}

.answer{

    span{
        visibility: hidden;
        cursor: pointer;
        margin-left: 5px;

        &:hover{
            color: $third;
        }
    }

    &:hover{
        span{
            visibility: visible;
        }
    }
}