<div *ngFor="let question of poll.questions">
        <app-checkbox [(ngModel)]="question.multiple">Multiple?</app-checkbox>
    <div>Type your question</div>
    <input type="text" [(ngModel)]="question.question">
    <div> Multiple?</div>
    <div>Answers</div>
    <div *ngFor="let answer of question.answers">
    <input type="text" [(ngModel)]="answer.answer">
    </div>
    <div class="button" (click)="addAnswer(question)">Add answer</div>
</div>
<div class="button" (click)="addQuestion()"><i class="fa fa-plus" aria-hidden="true"></i>Add question</div>
<div class="button" (click)="save()">Save</div>
<i class="fa fa-plus" aria-hidden="true"></i>
<a *ngIf="poll.links" href="{{poll.links.vote}}">Vote link</a>
<a *ngIf="poll.links" href="{{poll.links.admin}}">Admin link</a>
<a *ngIf="poll.links" href="{{poll.links.results}}">Results link</a>