<div class="question" *ngFor="let question of poll.questions">
    <div>Your question</div>
    <input type="text" [(ngModel)]="question.question">
    <div class="answers">
        <div>Answers</div>
        <div class="answer" *ngFor="let answer of question.answers">
            <input type="text" [(ngModel)]="answer.answer" (keydown)="onKeyDown($event, question)">
            <span (click)="deleteAnswer(answer)"><i class="far fa-minus-square"></i></span>
        </div>
    </div>
    <div class="question__add-answer">
        <span class="button" (click)="addAnswer(question)"><i class="fas fa-plus"></i> Add answer</span>
        <app-checkbox [(ngModel)]="question.multiple">Multiple choice</app-checkbox>
    </div>
</div>
<div class="question__buttons">
    <div class="button" (click)="addQuestion()"><i class="fas fa-plus"></i> Add question</div>
    <div class="button" (click)="save()">Create poll</div>
</div>

<div *ngIf="poll.links" class="links">
    <div>Your links</div>
    <div>
        <a class="button" target="_blank" routerLink="{{ngLinks.vote}}">Vote</a>
        <span class="link">{{poll.links.vote}}</span>
        <span (click)="copy(poll.links.vote)"><i class="far fa-clipboard"></i></span>
        <span class="fade-in" *ngIf="copied === poll.links.vote">Copied!</span>
    </div>
    <div>
        <a class="button" target="_blank" routerLink="{{ngLinks.admin}}">Admin</a>
        <span class="link">{{poll.links.admin}}</span>
        <span (click)="copy(poll.links.admin)"><i class="far fa-clipboard"></i></span>
        <span class="fade-in" *ngIf="copied === poll.links.admin">Copied!</span>
    </div>
    <div>
        <a class="button" target="_blank" routerLink="{{ngLinks.results}}">Results</a>
        <span class="link">{{poll.links.results}}</span>
        <span (click)="copy(poll.links.results)"><i class="far fa-clipboard"></i></span>
        <span class="fade-in" *ngIf="copied === poll.links.results">Copied!</span>
    </div>
</div>