<div>Admin page</div>

<div *ngIf="poll">

    <div *ngIf="poll.status.state !== 'STARTED'" class="button" (click)="start()"><i class="fas fa-play"></i>Start</div>
    <div *ngIf="poll.status.state === 'STARTED'" class="button" (click)="start()"><i class="fas fa-play"></i>Restart</div>
    <div *ngIf="poll.status.state === 'STARTED'" class="button" (click)="next()"><i class="fas fa-play"></i>Next</div>
    <div>Current question: {{question.question}}</div>
    <div>Progress {{currentStep}}/{{poll.questions.length}}</div>

</div>