input{
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $primary;
    outline: none;
    color: $primary;
    @include font-medium;
    width: 90%;
    margin-top: 10px;
    padding-bottom: 5px;
}